<section class="card">
  {{#if current_user_id}}
    <div class="btn-header">
      <button class="js-modal-trigger" data-target="modal-js-example" data-title="{{title}}" data-content="{{content}}">
        Edit
      </button>
      <button>
        X
      </button>
    </div>
    <header><br/>{{title}}</header>
  {{else}}
    <header>{{title}}</header>
  {{/if}}
  <a href="/api/posts/{{id}}">
    <div class="card-body">
      {{content}} 
    </div>
  </a> 
  
</section>

<div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <form class="form post-form" data-user_id="{{user_id}}" id="new-post-form">
        <div class="form-group">
          <label for="new-post-title">Title:</label>
          <input class="form-input" type="text" id="edit-post-title" value="{{title}}"/>
        </div>
        <div class="form-group">
          <label for="new-post-content">Content:</label>
          <input class="form-input" type="text" id="edit-post-content" value="{{content}}"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>



