<section class="card">
  {{#if current_user_id}}
    <div class="btn-header">
      <button class="js-modal-trigger" data-target="modal-js-example" data-title="{{title}}" data-content="{{content}}" data-post_id="{{id}}" data-user_id="{{current_user_id}}">
        Edit
      </button>
      <button class="delete-button" data-post_id="{{id}}">
        X
      </button>
    </div>
    <header><br/>{{title}}</header>
  {{else}}
    <header>{{title}}</header>
  {{/if}}
  <a href="/api/posts/{{id}}">
    <div class="card-body">
      <p>{{content}}</p>
      <p>Posted on: {{format_date date_created}}</p>
    </div>
  </a>  
</section>

